# OS
Thumbs.db
Desktop.ini

# Dependencies & build
node_modules/
dist/
build/
.next/
coverage/

# Env & secrets
.env
.env.*
!.env.example

# Logs & local DB
*.log
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
